body {
  background-color: white;
}

.header {
  display: flex;
  flex-direction: flex-start;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .1);
}

.menu {
  display: flex;
  width: 25%;
  flex-direction: row;
  justify-content: space-evenly;
}

.dropdown-button {
  font-size: 2rem;
  background: none;
  border: none;
}

.dropdown {
  position: relative;
}

.dropdown-menu {
  position: absolute;
  left: 0;
  top: calc(100% + .5rem);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .1);
  border-radius: .25rem;
  padding: .75rem;
  opacity: 0;
  transform: translateY(-10px);
  transition: opacity 150ms ease-in-out, transform 150ms ease-in-out;
  pointer-events: none;
}

.information-grid {
  display: grid;
  grid-template-columns: repeat(2, max-content);
  gap: 2rem;
}

.dropdown.active > .dropdown-button + .dropdown-menu {
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
}

.dropdown-links {
  display: flex;
  flex-direction: column;
  gap: .25rem
}

.login-form {
  display: flex;
  flex-direction: column;
  gap: .25rem;
}